.navbar-profile{
    margin-right: 60px;
}

.navbar-nav-right li:hover .drop-down {
	top: 62px;
	opacity: 1;
	visibility: visible;
}

.navbar-nav-right li:hover .drop-down li a {
	background: transparent;
}

.navbar-nav-right li .drop-down {
	position: absolute;
	right: 30px;
	top: 82px;
	width: 150px;
	background: #ffffff;
	text-align: left;
	padding: 5px 0;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.navbar-nav-right li .drop-down li {
	display: block;
	margin-right: 0;
}

.navbar-nav-right li .drop-down li a {
	font-size: 14px;
	color: #111111;
	font-weight: 500;
	padding: 5px 20px;
}

.drop-down li h6{
    color: #111111;
	font-weight: 700;
}